.App {
  display: flex;
}
.App div:nth-child(1){
flex-grow: 1;
}
.leftPannel{
  background: #504b4b;
}
.leftPannel  div{
  padding: 15px;
font-size: 18px;
font-weight: bold;
}
.App div:nth-child(2){
  flex-grow: 5;
}
.leftPannel div :nth-child(1){
color: white;
}
.active{
  background:gray;
}
.leftPanelHeader{
  background: #1e1c1c;
}
.leftPannel a{
  text-decoration: none;
}